<h1 class="page-title">
  Edição de lista
  <div class="pull-right">
    <%= link_to 'Destinatários', @lista, class: 'btn btn-success btn-lg ' %>
    <%= link_to 'Voltar', listas_path, class: 'btn btn-default btn-lg' %>
  </div>
</h1>
<div class="separator"></div>

<%= render 'form' %>