<h1>
  Grupo de usuários
  <%= link_to 'Novo', new_grupo_usuario_path, class: ' btn btn-primary btn-lg pull-right' %>
</h1>
<div class="separator"></div>

<table class="table data-table table-hover table-striped">
  <thead>
  <tr>
    <th>Nome</th>
    <th class="text-center" width="1">
      <i class="fa fa-cogs"></i>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @grupo_usuarios.each do |grupo_usuario| %>
      <tr>
        <td><%= grupo_usuario.nome %></td>
        <td width="1">
          <%= link_to 'Editar', edit_grupo_usuario_path(grupo_usuario), class: 'btn btn-primary btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

