<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @grupo_usuario.nome %>
</p>

<%= link_to 'Edit', edit_grupo_usuario_path(@grupo_usuario) %> |
<%= link_to 'Back', grupo_usuarios_path %>
