.wrap { padding-top: 50px; }
	
/* Menu */
.sidenav {
	position: relative;
	height: auto;
	display: table;
	left: 0;
	margin-left: 0;
	overflow: visible;
	width: 100%;
	z-index: 999999;
	background: #fff;
	transition: margin-left .5s ease-in-out;
	-o-transition: margin-left .5s ease-in-out;
	-ms-transition: margin-left .5s ease-in-out;
	-moz-transition: margin-left .5s ease-in-out;
	-webkit-transition: margin-left .5s ease-in-out; }

.sidenav.sidenavhover { 
	margin-left: 0;
	border-right: 1px solid #eeeeee; }

.sidenav > ul {
	height: 100%;
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-width: 1280px;
	margin: 0 auto; }

.sidenav ul > li { 
	position: relative;
	float: left;
	border-bottom: 0; }

.sidenav ul > li a {
	display: block;
	padding: 10px 20px;
	position: relative;
	color: #000;
	cursor: pointer;
	font-size: 12px; }

.sidenav ul > li a i { 
	margin-top: 2px;
	font-family:FontAwesome; }

.sidenav ul > li a:hover {
	text-decoration: none;
	color: #6a6a6a; }

.sidenav ul > li a div {
	width: 70px;
	position: absolute;
	right: 0;
	display: none;
	top: 0;
	padding: 14px 24px;
	height: 51px; }

.sidenav ul > li a div img { width: 100%; }

.sidenav ul > li.logout {
	position: relative;
	float: right;
	background: #fff;
	width: auto; }

.sidenav ul > li.user {
	height: 42px;
	float: none;
	z-index: 9999;
	border: 0;
	position: relative;
	overflow: hidden;
	-webkit-transition: height 0.5s ease-in-out;
	-moz-transition: height 0.5s ease-in-out;
	-o-transition: height 0.5s ease-in-out;
	-ms-transition: height 0.5s ease-in-out;
	transition: height 0.5s ease-in-out; }

.sidenav ul > li.user:after {
	position: absolute;
	left: 0;
	right: 0;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	content: "Legend";
	top: 8px;
	text-align: center;
	font-weight: 200;
	font-size: 20px; }

.sidenav ul > li.user img { 
	height: 34px !important;
	float: right; }

.sidenav ul > li.user p {
	margin: 0 20px 0;
	float: left;
	font-size: 12px;
	color: #000; }

.sidenav ul > li.user .content { 
	float: right;
	padding: 8px 15px 10px; }

/* Menu Search */
.sidenav ul > li.user .search-block {
	position: relative;
	float: left;
	overflow: hidden;
	width: auto;
	margin: 10px 12px 0; }

.sidenav ul > li.user .search-block .search {
	margin-bottom: 10px;	
	width: 100%;
	font-size: 12px;
	box-shadow: none;
	outline: none;
	border: 0 !important;
	background: #eaeaea;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	color: #eaeaea;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
	padding: 3px 25px;
	position: relative; }

.sidenav ul > li.user .search-block span {
	position: absolute;
	top: 2px;
	width: 70px;
	font-size: 12px;
	pointer-events: none;
	-webkit-transition: left 0.5s ease-in-out;
	-moz-transition: left 0.5s ease-in-out;
	-o-transition: left 0.5s ease-in-out;
	-ms-transition: left 0.5s ease-in-out;
	transition: left 0.5s ease-in-out;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	color: #777; }

.sidenav ul > li.user .search-block span i { 
	font-family:FontAwesome;
	margin-left: 4px; }

.sidenav ul > li.user .search-block span.focus { left: -110% !important; }

.sidenav ul > li.user .search:focus {
	outline: none;
	color: #777; }

/* Menu Overlay */
.overlay {
	position: fixed;
	width: 100%;
	display: none;
	background: rgba(0,0,0,0.3);
	z-index: 999998;
	height: 100%; }
	
/* Menu Dropdown */

.sidenav ul.dropdown-menu {
	min-width: 200px;
	max-width: 200px;
	margin-top: 0;
	margin-left: 0;
	background: #fff;
	border: 0;
	border-bottom: 1px solid #eeeeee;
	border-radius: 0;
	box-shadow: none;
	top: 37px;
	bottom: 0;
	padding: 0;
	height: auto; }
	
.sidenav ul.dropdown-menu.second { 
	left: 200px;
	top: 0; }
	
.sidenav ul.dropdown-menu:before { display: none; }
	
.sidenav ul.dropdown-menu > li { 
	float: none;
	background: #fff;
	position:relative;
	border-bottom: 0; }

.sidenav ul.dropdown-menu > li > a.back {
	color: #999;
	padding: 5px 10px;
	display: none;
	margin-bottom: 0;
	border-bottom: 1px solid #eee; }

.sidenav ul.dropdown-menu > li > a { 
	white-space: normal;
	padding: 10px; }

.sidenav ul.dropdown-menu > li > a:hover { background: transparent; }

@media (max-width: 768px) {
.wrap { margin-top: 0; }
.sidenav ul > li.user:after { display: none; }
.sidenav ul > li.user { 
	float: none;
	height: 130px;
	border-bottom: 1px solid #eeeeee; }
.sidenav ul.dropdown-menu > li > a.back { display: block; }
.sidenav ul.dropdown-menu:before {
	position: fixed;
	height: 100%;
	width: 300px;
	background: #fff;
	top: 0;
	left: 0;
	display: block;
	content: ""; }
.sidenav ul.dropdown-menu.second { left: 0; }
.sidenav ul.dropdown-menu {
	min-width: 100%;
	max-width: 100%;
	top: 130px; }
.sidenav ul.dropdown-menu > li { position:static; }
.sidenav ul.dropdown-menu > li > a.back { 
	margin-bottom: 0;
	padding: 5px 30px; }

.sidenav ul.dropdown-menu > li > a { padding: 10px 30px; }
.sidenav ul > li.user p { 
	font-size: 14px;
	margin: 5px 20px 0; }
.sidenav ul > li a div { display: block; }
.sidenav ul > li.user .content { 
	float: none;
	padding: 5px 30px 10px; }
.sidenav ul > li.user.usershow { height: 130px !important; }
.sidenav ul > li.user img { 
	float: left;
	height: 54px !important; }
.sidenav.sidenavhover { 
	margin-left: 0 !important;
	border-right: 1px solid #eeeeee; }
.sidenav ul > li { 
	float: none;
	position:static;
	border-bottom: 1px solid #eeeeee; }
.sidenav { 
	border-color: #ebebeb; 
	height: 100%;
	display: block;
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	width: 300px;
	margin-left: -300px; }
.sidenav ul > li.logout {
	position: absolute;
	bottom: 0;
	float: none;
	background: #fff;
	width: 100%; }
.sidenav ul > li.user .search-block { 
	float: none;
	margin-top: 14px; }
.sidenav ul > li.user .search-block span { font-size: 15px; }
.sidenav ul > li.user .search-block .search { font-size: 14px; }
.sidenav ul > li.user .search {
	margin-bottom: 10px;	
	padding: 5px 25px; }
.sidenav ul > li a {
	padding: 15px 30px;
	font-size: 14px; } }
	
@media (max-width: 560px) {
/* Menu Styles */
.sidenav.sidenavhover { width: 100%; }
.sidenav ul > li.user .search-block,
.sidenav ul > li.user .content {
	width: 90%;
	margin-left: auto;
	margin-right: auto; }
.sidenav ul > li.user .content { padding: 5px 5px 10px; }  }