<h1 class="page-title">
  Novo Usuário
  <div class="pull-right">
    <%= link_to 'Voltar', usuarios_path, class: 'btn btn-default btn-lg' %>
  </div>
</h1>
<div class="separator"></div>
<%= render 'form' %>

